// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

$bg-color: #ffffff;
$primary-color: #D27F1B;
$secondary-color: #D5981B;


$spacer: 1em;

h1 {
	color: $primary-color !important;
}

h2 {
	color: $secondary-color !important;
}

.m-6 {
  margin: ($spacer * 3) !important;
}

.mt-6 {
  margin-top: ($spacer * 3) !important;
}

.mr-6 {
  margin-right: ($spacer * 3) !important;
}

.mb-6 {
  margin-bottom: ($spacer * 3) !important;
}

.ml-6 {
  margin-left: ($spacer * 3) !important;
}

.mx-6 {
  margin-right: ($spacer * 3) !important;
  margin-left: ($spacer * 3) !important;
}

.my-6 {
  margin-top: ($spacer * 3) !important;
  margin-bottom: ($spacer * 3) !important;
}