<section class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h3>Réseaux sociaux</h3>
                <p>
                    <div>
                        <span class="fa-stack fa-lg">
                            <a href="https://www.facebook.com/fermemajolime/" target="_blank">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-inverse fa-stack-1x"></i>
                            </a>
                        </span>

                        <span class="fa-stack fa-lg">
                                <a href="https://www.instagram.com/fermemajolime" target="_blank">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-inverse fa-stack-1x"></i>
                                </a>
                            </span>

                        <span class="fa-stack fa-lg">
                                <a href="https://twitter.com/FermeMajolime" target="_blank">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-inverse fa-stack-1x"></i>
                                </a>
                            </span>

                        <span class="fa-stack fa-lg">
                                <a href="https://ca.linkedin.com/in/fermemajolime" target="_blank">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-linkedin-in fa-inverse fa-stack-1x"></i>
                                </a>
                            </span>
                    </div>
                </p>
            </div>

            <div class="col-lg-4">
                <h3>Nous joindre</h3>
                <p>
                <div><i class="fa fa-envelope"></i>&nbsp;Courriel <a href="mailto:lise@majolime.com">lise@majolime.com</a></div>
                <div><i class="fa fa-phone"></i>&nbsp;Téléphone 819-609-2129</div>
                <br />

                <h4 class="h5">Adresse</h4>
                <div><i class="fa fa-map-marker-alt"></i>&nbsp;530 route 261 Saint-Sylvère, <br />Québec (Canada) G0Z
                    1H0</div>
                </p>
            </div>

            <div class="col-lg-4">
                <h3>Nos partenaires</h3>

                <div class="row">
                    <div class="col-lg-12">
                        <a href="http://www.argousier.qc.ca" target="_blank"><img src="static/img/logo-APAQ.jpg"
                                                                                  class="img-fluid float-left w-50" alt="Logo de l'Association des producteurs d'argousier du Québec"></a>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-12">
                        <a href="http://www.filierebio.qc.ca/" target="_blank"><img src="static/img/logo_filiereBio.jpg" class="img-fluid float-left" alt="Logo Filière biologique du Québec"></a>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-12">
                        <a href="http://www.ecocertcanada.com/fr" target="_blank"><img src="static/img/Logo-Ecocert - Certification-R (JPEG).jpg" class="img-fluid float-left" alt="Logo Ecocert Canada"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="py-5 bg-darker">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Ferme Majolim&eacute; {{ 'now' | date: "%Y" }}</p>
    </div>
</footer>