<!-- Modal -->
<div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="welcomeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="welcomeModalLabel">Passez votre commande de fruits</h5>
            </div>

            <div class="modal-body">
                Il est temps de commander vos argouses de la récolte 2017. N'attendez plus et utilisez le bouton <span class="text-primary"><em>"Débuter ma commande"</em></span> afin de nous contacter.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <a href="contact.html" class="btn btn-primary">Débuter ma commande</a>
            </div>
        </div>
    </div>
</div>