<!-- Navigation -->
<nav id="mainNav" id="mainNav" class="navbar fixed-top navbar-dark bg-dark navbar-expand-lg fixed-top">
	<div class="container">
		<a class="navbar-brand" href="/">
			Ferme Majolimé
		</a>
		
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item dropdown">
					<a class="nav-link" href="qui-sommes-nous.jsp">Qui sommes-nous</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link" href="information-argousier.jsp">L'argousier</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="contact.jsp">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</nav>