<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  {% if page.navbar_light %}
    {% include navbar.html %}
  {% else %}
    {% include navbar-dark.html %}
  {% endif %}

  {% if page.homepage %}
    {% include header.html %}
  {% endif %}

  <div class="page-content">
    <div class="wrapper">
      {{ content }}
    </div>
  </div>

  {% unless page.contact %}
    {% include call-to-action.html %}
  {% endunless %}

  {% include footer.html %}
  {% include scripts.html %}

</body>

</html>
